<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rango</title>
</head>
<body>
<div>
<ul>
    <li><a href="{% url 'rango:home' %}">Back to homepage</a></li>

</ul>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                <li><a href="{% url 'rango:add_page' category.slug %}">Add Page</a></li>
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
            <li><a href="{% url 'rango:add_page' category.slug %}">Add Page</a></li>
        {% endif %}
    {% else %}

        The specified category does not exist.
    {% endif %}
</div>
</body>
</html>